.main h2 {
	color: white;
	font-size: 34px;
	line-height: 38px;
	letter-spacing: 0px;
}

.main p {
	color: lightgray;
	font-size: 24px;
}

a.button {
	position: relative;
	background-color: black;
	display: inline-block;
	text-align: center;
	width: 100%;
	height: 500px;
	box-sizing: border-box;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.button img {
	overflow: hidden;
	display: block;
	width: auto;
	height: auto;
	max-width: 500px;
	max-height: 500px;
}

div.title {
	background-color: transparent;
	color: white;
	font: 35px "Ubuntu";
	opacity: 0;
	left: 0;
	right: 0;
	vertical-align: middle;
}

div.wrap {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.wrap:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em;
}

div.lefttile {
	float: left;
	position: relative;
	text-align: center;
	width: 47.5%;
	margin-bottom: 2.5%;
	margin-top: 2.5%;
}

div.righttile {
	float: right;
	position: relative;
	width: 47.5%;
	margin-bottom: 2.5%;
	margin-top: 2.5%;
}

div.projectmenu {
	margin-top: -5%;
}

div.row {
	margin-top: 2.5%;
	margin-bottom: 2.5%;
}

#imageThumb {
	border-width: 5px;
	border-style: solid;
	border-color: #FFFFFF;
}

#imageThumb div {
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	transition: all .5s;
}

@media (max-width: 640px) {
	#imageThumb {
		border-width: 3px;
		border-style: solid;
		border-color: #FFFFFF;
	}

	#imageThumb .wrap {
		background: rgba(0, 0, 0, 0.6);
	}

	div.title {
		font: 18px "Ubuntu";
		opacity: 1;
		left: 0;
		right: 0;
		vertical-align: middle;
	}

	div.lefttile {
		width: 100%;
	}

	div.righttile {
		width: 100%;
	}
}

#imageThumb:hover .wrap {
	background: rgba(0, 0, 0, 0.6);
}

#imageThumb:hover .title,
#imageThumb:hover .wrap {
	opacity: 1;
}
