@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono);

a.projectbutton {
	background-color: black;
	color: black;
	font: 35px "futura-pt";	
	display: block;
	width: 360px;
	height: 269px;
	padding-top: 0px;
}

a.projectbutton2 {
	color: black;
	font: 35px "futura-pt";	
	display: block;
	width: 425px;
	height: 265px;
	padding-top: 160px;
}

span.projecttitle {
	background-color: white;
	opacity: 0;
}

div.projectleftbar {
	float:left;
	text-align: center;
	width: 475px;
	margin-bottom: 25px;
	margin-top: 25px;
}

div.projectrightbar {
	float: right;
	width: 475px;
	text-align: center;
	margin-left: 50px;
	margin-bottom: 25px;
	margin-top: 25px;
}

div.projectmenu {
	margin-top: -25px;
}

div.projectrow {
	margin-top: 25px;
	margin-bottom: 25px;
	width: 1000px;
}

div.projectimagerow {
	margin-top: 25px;
	margin-bottom: 15px;
	float: center;
}


div.projecttextleftbar {
	float: left;
	text-align: left;
	width: 475px;
}

div.projecttextrightbar {
	float:right;
	width: 475px;
	text-align: left;
	margin-left: 50px;
}

div.projecttextrow {
	margin-top: 15px;
	float: left;
}

div.caption {
	padding-left: 9px;
	padding-right: 9px;
	color: white;
	background-color: #888888;
	text-align: left;
	font-size: 14px;
}


#thermo {
	background-image: url("../images/thermo.png");
	border-width: 10px;
	border-style: solid;
	border-color: #01B7E5;
}

#thermo:hover {
	-moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
	opacity: 0.5;
}