@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono);

a.button {
	position: relative;
	background-color: black;
	display: block;
}

.button img {
	width: 100%;
}

span.title {
	position: absolute;
	background-color: transparent;
	color: white;
	font: 35px "Source Sans Pro";
	opacity: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

div.lefttile {
	float: left;
	position: relative;
	text-align: center;
	width: 47.5%;
	margin-bottom: 2.5%;
	margin-top: 2.5%;
}

div.righttile {
	float: right;
	position: relative;
	width: 47.5%;
	margin-bottom: 2.5%;
	margin-top: 2.5%;
}

div.projectmenu {
	margin-top: -5%;
}

div.row {
	margin-top: 2.5%;
	margin-bottom: 2.5%;
}

#thermo {
	border-width: 10px;
	border-style: solid;
	border-color: #01B7E5;
}

@media (max-width: 640px) {
	#thermo {
		border-width: 3px;
		border-style: solid;
		border-color: #01B7E5;
	}
}

#thermo:hover img {
	-moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
	opacity: 0.5;
}

#thermo:hover span {
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	transition: all .5s;
	opacity: 1;
}

#thermoid:hover {
	-moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
	opacity: 1;
}